body {
    margin:0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color:#40514E;
}

h1 {
    margin:50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color:#66BFBF;
    line-height:2;
}


h2 {
   font-family: 'Montserrat', sans-serif;
   font-size: 2.5rem;
   color:#66BFBF;
   font-weight:normal;
}

.h2-skills{
    color:#66BFBF;
}

h3 {
   font-family: 'Montserrat', sans-serif;
   color:#11999E;
}

p{
   line-height: 2;
}

hr{
   border-style: none;
   border-top-style: dotted;
   width: 5%;
   border-color: #EAF6F6;
   border-width: 5px;
   margin:100px auto 100px auto;

}

a{
    color:#11999E;
    font-family:'Montserrat', sans-serif;
    margin:10px 20px;
    text-decoration: none;
}

a:hover{
    color:#EAF6F6;
}

.face {
width: 200px;
height: 200px;
}

.intro-description{
    width:30%;
    margin:50px auto 50px auto;
}

.football {
   width: 25%;
   float:left;
   margin-right: 30px;

}

.cycling {
   width: 25%;
   float:right;
   margin-left: 30px;
}

.top-container {
   background-color:#EAF6F6; 
   position:relative;
   padding-top:200px;

}

.middle-container{
    margin:50px auto 50px auto;
}

.top-cloud{
position:absolute;
right:300px;
top:150px;

}

.bottom-cloud{
    position: absolute;
    left:300px;
    bottom:300px;
}

.skill-row{
    width:50%;
    margin:50px auto 50px auto;
    text-align:left;
}

.btn {
   background: #3498db;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
   background-image: -o-linear-gradient(top, #11CDD4, #11999e);
   background-image: linear-gradient(to bottom, #11CDD4, #11999e);
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   font-family: 'Montserrat', sans-serif  ;
   color: #ffffff;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;


 }
 
 .btn:hover {
   background: #3cb0fd;
   background-image: -webkit-linear-gradient(top, #30e3Cb, #2bc4ad);
   background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -ms-linear-gradient(top, #30e3cb , #2bc4ad );
   background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad );
   text-decoration: none;
 }


 .contact-me{
   margin:50px auto 50px auto;
   line-height: 3;
 }

 .contact-message{
   width:30%;
   margin:50px auto 50px auto;
 }

 .copyright{
     color:#EAF6F6;
     font-size: 0.75rem;
     margin:20px 0 20px 0;
 }

 .bottom-container{
     background-color:#66BFBF;
     padding-top:50px;
     padding-bottom:20px;

 }

 /*navigation bar*/

 .topnav {
    background-color: aqua;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: blue;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: aquamarine;
    
  }
  
  /* Add a color to the active/current link */
  

  

 